@import url('https://fonts.googleapis.com/css2?family=Saira:wght@200;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

body 
{
    margin: 0;
    font-family: 'Saira';
    background-color: #242020;
    color: white;
    height: 4000px;
}

.logo 
{
    width: 100px;
    height: 100px;
}

.menu 
{
    overflow: hidden;
    background-color: #FFF4F4;
    border-bottom: 3px solid #ACACAC;
}
  
.menu a 
{
    font-weight: bold;
    float: left;
    color: black;
    text-align: center;
    padding: 0px 30px;
    text-decoration: none;
    font-size: 40px;
}

.menu2 
{
    float: right;
    margin-top: 23px;
}

.koszyk 
{
    height: 67px;
    width: 76px;
}

.stopka{
    clear: both;
    font-family: 'Righteous';
    font-size: 24px;
    text-align: center;
    color: #5E5454;
    margin-top: 20%;
}

.lap_box1
{
    background-color: #FFF4F4;
    height: 16.3%;
    width: 100%;
    float: left;
    position: relative;
}

.lap_zdj
{
    height: 45%;
    position: absolute; 
    top: 25%; 
    right: 75%;
}

.lap_ikony1
{
    height: 18%;
    position: absolute; 
    top: 18%; 
    right: 28%;
}

.lap_opis1
{
    color: black;
    font-weight: bold;
    position: absolute; 
    width: 20%;
    top: 30%; 
    text-align:center;
    right: 20%;
    font-size: 2.5vw;
}

.lap_ikony2
{
    height: 18%;
    position: absolute; 
    top: 18%; 
    right: 7%;
}

.lap_opis2
{
    color: black;
    font-weight: bold;
    position: absolute; 
    text-align:center;
    width: 20%;
    top: 30%; 
    right: 0%;
    font-size: 2.5vw;
}

.lap_zdj1
{
    height: 100%;
    position: absolute; 
    top: 5%; 
    right: 33%;
}

.lap_box2
{
    background-color: #437DD4;
    height: 10%;
    width: 60%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    top:-5%;
    clear: both;
}

.lap_box2 hr
{
    size: 3px;
    width: 80%;
    color: lightgray;
}

.lap_cenaPromo
{
    font-family: 'Righteous';
    margin: 0;
    font-size: 7.5vw;
    text-align: center;
    padding-top: 2%;
}

.lap_btn1 
{
    font-family: 'Saira';
    background-color: #FFFFFF; 
    border: none;
    color: black;
    padding: 20px;
    border-radius: 45px;
    display: block;
    font-size: 3vw;
    font-weight: bold;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4%
}

.lap_spec1
{
    margin-top: -12%;
}

.lap_ikony3
{
    width:8%;
    left:28%;
    padding: 0;
    margin: 0;
    position: absolute;
}

h1, h2
{
    text-align: center;
}

h1
{
    font-size: 3vw;
}

h2
{
    margin-top: -2%;
    font-size: 2.3vw;
    width: 20%;
    margin-left: auto;
    margin-right: auto;
}

.lap_box3
{
    background-color: #1A1818;
    height: 23%;
    width: 100%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    top:1%;
    clear: both;
}

.lap_spec2
{
    margin-left:-48%;
}

.lap_spec2 .lap_ikony3
{
    left: 1%;
}

.lap_zdj2
{
    transform: rotate(-60deg);
    height: 80%;
    position: absolute; 
    top: -12%; 
    right:0;
}

.lap_spec2 .lap_btn1
{
    left: 48%;
    margin-top: 0;
}



.lap_box4
{
    width: 100%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    top:1%;
    clear: both;
}

.lap_spec3
{
    margin-left:60%;
}

.lap_spec3 .lap_ikony3
{
    left: 57%;
}

.lap_zdj3
{
    transform: rotate(-10deg);
    height: 105%;
    position: absolute; 
    top: 5%; 
    right:46%;
}

.lap_spec3 .lap_btn1
{
    left: 48%;
    margin-top: 0;
}

.lap_spec3 h2
{
    width:80%;
}

.lap_spec3 h1
{
    margin: 0;
}