@import url('https://fonts.googleapis.com/css2?family=Saira:wght@200;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

body {
    margin: 0;
    font-family: 'Saira';
    background-color: #242020;
    color: white;
}
.stopka{
    clear: left;
    font-family: 'Righteous';
    font-size: 24px;
    text-align: center;
    color: #5E5454;
    margin-top: 1000px;
}
.logo {
    width: 100px;
    height: 100px;
}
.menu {
    overflow: hidden;
    background-color: #FFF4F4;
  }
  
.menu a {
    float: left;
    color: black;
    text-align: center;
    padding: 0px 30px;
    text-decoration: none;
    font-size: 40px;
  }
.menu2 {
    float: right;
    margin-top: 23px;
}
.nav {
    width: 852px;
    height: 906px;
    margin-left: 252px;
}
.koszyk {
    height: 67px;
    width: 76px;
}
.tytul {
    font-size: 30px;
}
.pt {
    margin-top: 250px;
}
.pt1_b {
    float: right;
    padding: 0px 30px;
    margin-top: 100px;
    margin-right: 80px;
    font-size: 25px;
    width: 622px;
    height: 333px;
    background-color: #1D1A1A;
    border-radius: 30px;
}
.pt2_b {
    padding: 12px 30px;
    margin-top: 100px;
    margin-left: 150px;
    font-size: 25px;
    width: 622px;
    height: 333px;
    background-color: #1D1A1A;
    border-radius: 30px;
}
.pt3_b {
    float: right;
    padding: 0px 30px;
    margin-top: 100px;
    margin-right: 130px;
    font-size: 25px;
    width: 622px;
    height: 333px;
    background-color: #1D1A1A;
    border-radius: 30px;
}
.konN {
    float: left;
    background-color: black;
    width: 100%;
    height: 700px;
    margin-top: 200px;
}
.konN2 {
    float: right;
    background-color: #332F2F;
    text-align: center;
    width: 49%;
    height: 700px;
    font-size: 36px;
}

#informacjie
{
    float: left;

    width: 584px;
    height: 117px;

    margin: 100px;

    font-family: Saira;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 39px;
}

#BP
{
    margin-top: 100px;
    float: left;

    width: 561px;
    height: 745px;

    text-align: center;

    margin: 100px 0px 0px 200px;
    padding: 30px 0px 0px 0px;

    border: none;
    border-radius: 20px;

    background: #1D1A1A;
}

.Pole
{
    width: 323px;
    height: 31px;

    margin: 20px;

    border: none;
    background: #212121;

    font-family: Saira;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;

    border-radius: 8px;
}

#TextP
{
    width: 323px;
    height: 214px;

    margin: 20px;

    border: none;
    background: #212121;
    resize: none;
    
    font-family: Saira;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;

    border-radius: 8px;
}

#Przycisk
{
    margin: 20px;

    width: 250px;
    height: 57px;

    
    color:  #FFFFFF;
    background-color: #1D1A1A;
    border: 1px solid #474747;
    box-sizing: border-box;
    border-radius: 15px;

    font-family: Saira;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 38px;
}

.P
{
    font-weight: bold;
}